.row {
   margin: 0;
}

.col {
   padding: 0;
}


.component-1 {
   display: grid;
   grid-template-columns: 99% 1%;
   height: 100vh;
   background-image: url("https://ik.imagekit.io/drpq5xrph/Template%20Tiffany%20&%20Jared/Desktop.jpg?updatedAt=1698223781539");
   background-size: cover;
   background-position: center;
}

.gradient {
   background: linear-gradient(rgba(50, 48, 48, 0.5), rgba(50, 48, 48, 0.5));
}

.line {
   background: rgba(50, 48, 48, 0.7);
}

.group-1 {
   padding: 42px;
}

.wedding-name {
   letter-spacing: 3px;
   text-transform: uppercase;
   font-size: 4.5rem;
   font-weight: 300;
   max-width: 600px;
}

.quotes {
   font-family: "Newsreader", serif;
   letter-spacing: 1px;
   font-size: 1rem;
   opacity: 80%;
   max-width: 800px;
}

.announcement {
   letter-spacing: 2px;
   font-weight: 800;
   font-size: 1rem;
}


.component-2 {
   background: linear-gradient(rgba(50, 48, 48, 0.5), rgba(50, 48, 48, 0.5)),
      url("https://ik.imagekit.io/drpq5xrph/Template%20Tiffany%20&%20Jared/1.%20Cover.jpg?updatedAt=1698222296920");
   background-size: cover;
   background-position: center;
   height: 100vh;
   padding: 32px;
}

.component-2 .wedding-name {
   margin-top: 150px;
   letter-spacing: 2.5px;
   text-transform: uppercase;
   font-size: 2rem;
   font-weight: 300;
   max-width: 100%;
}

.hastag {
   font-family: "Newsreader", serif;
   line-height: 1.3;
   font-size: 2rem;
   font-weight: lighter;
}

.card-body {
   min-height: 400px;
}

.btn-open {
   font-family: "Newreader", serif;
   font-style: italic;
   padding: 3px 40px;
   border: 1px solid #000;
}

.content-container {
   height: 100vh;
   overflow-y: auto;
   background: rgba(50, 48, 48, 0.7);
}

.scroll-content {
   display: flex;
   flex-direction: column;
}

.welcome-section {
   height: 100vh;
   background-size: cover;
   background-position: center;
}


.welcome-section .wedding-name {
   margin-top: 150px;
   letter-spacing: 2.5px;
   text-transform: uppercase;
   font-size: 2rem;
   font-weight: 300;
   max-width: 100%;
}

.btn-scroll {
   display: inline-block;
   padding: 0;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
   background: none;
   color: #fff;
   border: none;
   margin-top: 80px;
}

.opening-section {
   background-color: #fff;
   color: #000;
}

.opening-section .card-body {
   min-height: 0;
}

.opening-title {
   letter-spacing: 1px;
   font-weight: 800;
   font-size: 12px;
}

.opening-wedding-name {
   margin-top: 80px;
   letter-spacing: 2.5px;
   font-size: 2rem;
   font-weight: 300;
   max-width: 100%;
}

.slider-container {
   max-width: 100%;
   overflow: hidden;
   margin: 0;
}

.slick-slide {
   box-sizing: border-box;
}

.slick-track {
   display: flex;
   align-items: center;
}

.slider-container img {
   height: 250px;
   object-fit: cover;

}

.slick-slide>div {
   margin: 0 5px;
}



@media (max-width: 1027px) {
   .component-1 {
      display: none;
   }

   .component-2 {
      max-width: 1000px !important;
   }
}