@font-face {
  font-family: 'Butler';
  src: url('./assets/fonts/Butler-UltraLight.woff2') format('woff2'),
    url('./assets/fonts/Butler-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./assets/fonts/Butler-Medium.woff2') format('woff2'),
    url('./assets/fonts/Butler-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./assets/fonts/Butler-Light.woff2') format('woff2'),
    url('./assets/fonts/Butler-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./assets/fonts/Butler-Black.woff2') format('woff2'),
    url('./assets/fonts/Butler-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./assets/fonts/Butler-Bold.woff2') format('woff2'),
    url('./assets/fonts/Butler-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./assets/fonts/Butler-ExtraBold.woff2') format('woff2'),
    url('./assets/fonts/Butler-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./assets/fonts/Butler.woff2') format('woff2'),
    url('./assets/fonts/Butler.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: #F8F9FB !important;
  padding: 0;
  margin: 0;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.butler {
  font-family: 'Butler', serif;
}